<h1> Movies DB Search APP home page</h1>
<h2>Enter the movie title to search</h2>
<form action="/movieResult" method="get">
    <input type="text" name="searchTitle" placeholder="Enter movie title">
    <input type="submit">
</form>